<layout name="layout/layout" />
     <header class="news_header">
        <h2>{$blogData.title}</h2>
        <ul>
          <li>{$blogData.username} 发布于 <?= date('Y-m-d',$blogData['time'])?></li>
          <li>类型：<a href="" title="" target="_blank">{$blogData.type}</a></li>
          <li>共 <strong>{$blogData.see}</strong> 人围观 </li>
        </ul>
      </header>
      <article class="news_content">{$blogData.content}</article>
      <div class="zambia">
      	<a href="javascript:void(0);" id="zan" blogId="{$blogData.id}" status="1">
      		<span class="glyphicon glyphicon-thumbs-up"></span>
      		赞(<strong>{$blogData.zan}</strong>)	 
      	</a>
      </div>

      <div class="content-block comment">
        <h2 class="title"><strong>评论</strong></h2>
        <form class="form-inline" id="comment-form">
          <div class="comment-form">
            <textarea placeholder="你的评论可以一针见血" id="commentContent"></textarea>
            <div class="comment-form-footer">
              <div class="comment-form-text">{$isLogin?'请文明发言!':'请登陆后评论!'}</div>
              <div class="comment-form-btn">
                <button type="button" id="comment-btn" status="{$isLogin?1:0}" class="btn btn-default btn-comment">提交评论</button>
              </div>
            </div>
          </div>
        </form>
        <div class="comment-content">
          <ul id="comment">
            <li id="firstComment" style="display:none"></li>
            <volist name="commentData" id="item1">
              <li>
                <span class="face">
                  <img src="__PUBLIC__/Home/images/icon/icon.png" alt="">
                </span> 
                <span class="text"><strong>{$item1.username}</strong> 
                  ({$item1.time}) 说：<br />{$item1.content}
                </span>
              </li>
            </volist>
          </ul>
        </div>
      </div>

      <script type="text/javascript">
  		(function(){

  			//赞
  			$('#zan').click(function(event) {
  				var blogId=$(this).attr('blogId');   //博客Id
  				var zan=parseInt($(this).find('strong').text()); //得到赞数
  				if($(this).attr('status')==1){
  					$(this).attr('status',0).find('strong').text(zan+1);
  					$.post("{:U('Blog/zan')}",{"blogId":blogId,"status":1},
  						function(res){
  						console.log(res);
  					});
  				}
  				else{
  					$(this).attr('status',1).find('strong').text(zan-1);
  					$.post("{:U('Blog/zan')}",{"blogId":blogId,"status":0},
  						function(res){
  						console.log(res);
  					});
  				}	
  			});

        //浏览量加1
        $.post("{:U('Blog/see')}",{"blogId":$('#zan').attr('blogId')},function(res){
              console.log(res);
        });

        //发表评论
        $('#comment-btn').click(function() {
            //如果没有登陆
            if($(this).attr('status')==0){
               $(this).parent().prev().css('color','red');
            }else{
               var data={
                  'content':$('#commentContent').val(),
                  'blogId':$('#zan').attr('blogId')
               };
               var _this=this;
               $.post("{:U('Comment/comment')}",data, function(res) {
                    var result=$.parseJSON(res);
                    if(result.code==200){
                       $(_this).parent().prev().text(result.message).css('color','green');
                       var resData=result.data,
                           html='';
                       html+='<li><span class="face"><img src="__PUBLIC__/Home/images/icon/icon.png" alt=""></span> <span class="text"><strong>'+resData.username+'</strong> ('+resData.time+') 说：<br />'+resData.content+'</span></li>';
                      $('#firstComment').after(html);
                    }else{
                      $(_this).parent().prev().text(result.message).css('color','red');
                    }               
               });
            }
        });
        
  		})();
      </script>