<layout name="layout/layout" />
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
<div>
	<p class="alert alert-warning">
		不积跬步无以至千里，不积小流无以成江海，程序人生的精彩需要坚持不懈地积累
	</p>
	<form class="form-horizontal">
		<textarea id="content" required></textarea><br/>
		<input type="text" id="title" required class="form-control" placeholder="博客标题,必填"/><br/>
		<input type="text" id="type" required class="form-control" placeholder="博客分类,必填,例如php,mysql,js。只能写一种"/>
		<br/>
	    <p class="alert alert-warning" id="blog-info" style="display:none"></p>
		<div class="container">
		 <button type="submit" id="blog-btn" style="margin:12px" class="btn btn-info">发表博客</button>
		</div>
	</form>
</div>
<script type="text/javascript">
	UE.getEditor('content',{
	'initialFrameWidth':'100%',
	'initialFrameHeight':300,
	'maximumWords':20000
	});
	$('#blog-btn').click(function() {
		//可发送
		$(this).text('发表中...').get(0).disabled=true;
		var data={
			'title':$('#title').val(),
			'content':$('#content').val(),
			'type':$('#type').val()
		};
		$.post(BLOG.fabuUrl,data,function(res){
			var result=$.parseJSON(res);
			if(result.code==200){
				$('#blog-info').text(result.message).removeClass('alert-warning').addClass('alert-success').show();							
			}else{
				$('#blog-info').text(result.message).removeClass('alert-success').addClass('alert-warning').show();
			}
			$('#blog-btn').text('发表博客').get(0).disabled=false;
		});
	});
</script>